amadeus
asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-allauth
django-cors-headers
djangorestframework
idna
oauthlib
psycopg2-binary
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
sqlparse
typing_extensions
urllib3
